            /* Reset */
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                background-color: white;
                margin: 0;
                padding: 0;
            }

            /* Alinhamento do ícone e do texto */
            .esquerda {
                display: flex;
                align-items: center;
                gap: 10px;
                /* Espaço entre o ícone e o texto */
            }

            .icone {
                width: 20px;
                /* Ajuste o tamanho do ícone */
                height: auto;
            }

            /* Texto da direita */
            .direita {
                font-weight: 600;
            }

            /* Cores e alinhamento do cabeçalho superior */
            .cabecalho {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #FEBFBF;
                padding: 10px 20px;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }

            .topo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
            }

            /* Ajuste do título */
            h1 {
                font-family: 'DM Serif Display', serif;
                color: #7CA067;
                font-size: 50px;
                flex-grow: 1;
                text-align: center;
            }

            h5 {
                font-family: 'DM Serif Display', serif;
                color: black;

            }

            /* Ícones */
            .icones {
                display: flex;
                align-items: center;
                gap: 20px;
                /* Espaço entre os ícones */
            }

            .link-icone {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                gap: 5px;
            }

            .link-icone img {
                width: 24px;
                height: auto;
            }

            .banner {
                width: 100%;
                max-width: 100vw;
                height: auto;
                display: block;

            }

            .informacoes {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
                background-color: #ffffff;
                font-family: 'Poppins', sans-serif;
            }

            /* Estilização dos itens da seção */
            .info-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            /* Ajuste de tamanho dos ícones */
            .icone_info {
                width: 30px;
            }

            .menunav {
                display: flex;
                justify-content: center;
                gap: 20px;
                background-color: white;
                padding: 10px 0;
            }

            .menunav a {
                text-decoration: none;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                color: black;
                font-weight: 600;
                padding: 10px;
            }

            footer {
                font-family: 'Poppins', sans-serif;
                text-align: center;
                padding: 20px;

            }

            .info-envio {
                display: flex;
                align-items: center;
                gap: 8px;
                /* Ajuste o espaçamento entre o ícone e o texto */
            }

            .favoritos {
                text-align: center;
                margin: 50px 0;
                font-family: 'Poppins', sans-serif;

            }

            .favoritos-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }

            .menu-icon {
                height: 22px;
                width: 22px;
            }

            .nav-link.selected {
                color: #7CA067 !important;
                background-color: transparent !important;
                border-color: transparent !important;
                box-shadow: none !important;
                font-weight: 600;
              }
              
              .nav-link.selected img.menu-icon {
                filter: brightness(0) saturate(100%) invert(50%) sepia(45%) saturate(250%) hue-rotate(80deg) brightness(90%) contrast(90%);
              }
        